.container{
    display: grid;
    grid-template-rows: 100px minmax(200px,1fr) 100px;
    justify-items: center;
}
.header{
}
.library{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.book{
    display: grid;
    width: 150px;
    height: 200px;
    border: solid;
    padding-left: 5px;
}
.title{
    font-size: 16px;
}
.author{

}
.pages{

}
.circle:before {
    content: ' \25CF';
    font-size: 25px;
}
.footer{
}